@{
  Layout = "_Layout";
}

@model DoctorOffice.Models.Patient

<h4>Add a new patient</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.Label("Select doctor")
    @Html.DropDownList("DoctorId")

    @Html.Label("Enter Birth Date YYYY-MM-DD")
    @Html.TextBoxFor(model => model.BirthDate)

    <input type="submit" value="Add new patient" class="btn btn-default"/>
}
<p>@Html.ActionLink("Show all patients", "Index")</p>